<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Account</title>
  </head>
  <body>
    <h3>Hi, {{ .UserFullname }}</h3>
    <p>
      Your account <strong>{{ .Username }}</strong> must be confirmed through
      the button below
      <br />
      <button>
        <a href="{{ .VerifyAccountLink }}">Verify Account</a>
      </button>
    </p>
  </body>
</html>
